.hero {
  &_title {
    max-width: 579px;
  }

  &_subtitle {
    max-width: 541px;
  }
}

@media (min-width: 900px) {
  .hero {
    height: 600px;
  }
}

.whatYouGet_subtitle {
  font-size: 18px !important;
  max-width: 282px;
}

@media (max-width: 900px) {
  .hero-subtitle {
    max-width: 400px;
  }
}

.btnLg {
  max-width: 239px;
}

.plans {
  box-shadow: 3px 4px 50px rgba(0, 0, 0, 0.1);
}

.placeholder {
  font-size: 16px;
}

.bit_farm {
  background-image: linear-gradient(
    90deg,
    #f86624,
    #3f87a6,
    rgba(86, 139, 86, 0.9),
    #b35689
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lead {
  &_title {
    max-width: 411px;
  }

  &_p {
    font-size: 25px;
  }
}

.adv_desc {
  max-width: 336px;

  box-shadow: 3px 4px 50px rgba(0, 0, 0, 0.1);
}

.goldImg {
  width: 354px;
  height: 207px;
}
