.heading {
  width: 200px;
}

.plans {
  &_bg {
    background: no-repeat center
      url("https://ik.imagekit.io/o79mipqfj/plan_bg_ITF8NrWDQ.png?ik-sdk-version=javascript-1.4.3&updatedAt=1654091910114");
    background-size: contain;
  }

  &_img {
    width: 180px;
    height: 250px;
  }
}
